@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/
.bg-color-nav{
    background-color: #13293D;
}

.bg-color-name-title{
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: #3E92CC;
}

.ui-menu-color-resume {
    background-color: #2A628F;
}

.ui-menu-color-interests {
    background-color: #1c4875;
}

.ui-menu-color-github {
    background-color: #425a73;
}

.ui-menu-color-contact {
    background-color: #16324F;
}

.ui-menu-color-download {
    background-color: #18435A;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bg-color-work-history {
    background-color: #135c8c;
}

.bg-color-contact {
    background-color: #fff;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table{
    display: table;
}

.history-heading,
.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #16324F;
}

.heroku-icon{
    margin-top: 25px;
    padding-bottom: 5px;
}
/* ----------------------------------------Header */

header{
    margin: 0;
}

.bg-color-name-title{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url("../images/background.jpg") no-repeat center;
    background-size: cover;
    height: auto;
    width: auto;
}

.heading{
    margin-left: 35px;
    padding-right: 0;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

/* ----------------------------------------Section */
.left-side-section{
    padding-right: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: auto;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 25px;
    display: block;
    color: #fafafa;
    font-size: 30px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------Footer*/

footer{
    background-color: #596d7d;
    color: #fff;
    min-height: 120px;
    margin: 0;
    padding-right: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #16324F;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #16324F;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fff;
    color: #16324F;
}

#footer-details {
    padding: 35px;
}

/* ----------------------------------------Three Reasons */

.about-me{
    float: left;
}

.three-reasons-icon{
    font-size: 26px;
    color: #16324F;
}

.three-reasons-heading{
    margin-bottom: 10px;
}

.row-about-me{
    padding-bottom: 20px;
    padding-left: 10px;
}

.interests{
    float: right;
}

.interests-heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.interests-icon{
    padding-left: 10px;
    font-size: 18px;
}

.row-interests{
    padding-top: 10px;
    padding-left: 15px;
}

/* ----------------------------------------Resume */

.work-history{
    float: right;
    padding-left: 20px;
    height: 100%;
}

.education{
    float: left;
    padding-left: 25px;
    padding-right: 15px;
    height: 100%;
}

.resume-icon{
    font-size: 18px;
    padding-right: 10px;
    vertical-align: 15px;
}

.edu-heading {
    color: #000;
    margin-top: 30px;
    margin-bottom: 20px;
}

.work-heading {
    color: #fafafa;
    margin-top: 30px;
    margin-bottom: 20px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #7185a2 !important;
}

.work-color-timeline-item:after{
    background: #fafafa;
}

.work-color-timeline-item{
    color: #fafafa;

}

.edu-color-timeline-item{
    color: #000;

}

.edu-color-timeline-item:after{
    background-color: #000;

}

i.fas.fa-award{
    color: #28a745;
}

.history-items {
    padding-left: 20px;
    margin-bottom: 30px;
}

/* ----------------------------------------Skills */

.skills {
    padding-left: 25px;
    padding-right: 15px;
}

.skills-text{
    padding-left: 10px;
}

.skills-row{
    padding: 20px 10px;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 10px;

}

/* ----------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #16324F;
    margin-top: 55px;
    margin-bottom: 20px;
}

.form-text{
    color: #16324F;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control{
    margin: 5px 0;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #16324F;
}

button[type="submit"]:visited,
button[type="submit"]:active,
button[type="submit"]:hover {
    color: #fafafa !important;
    background-color: #2d445d !important;
}

#flash-message{
    visibility: hidden;
}
/* ----------------------------------------Github */

#github-user-name{
    text-decoration: none;
    margin-bottom: 20px;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 60%;
    }
}
